#
# Build ignores
#
.*
*.o
*.o.*
*.a
*.s
*.1.gz

#
# Never ignore these
#
!.gitignore

#
# Normal output and testing dirs
#
/foo
/vi
/debug.log
/*.?.gz

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit

